<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.bentleyis.pluginprovider">

    <application>
        <!-- The following illustrates a configured BroadcastReceiver entry -->
        <!-- receiver
            android:name=".HostResponder"
            android:enabled="true"
            android:exported="true">
            <meta-data
                android:name="plugin"
                android:value="app.bentleyis.pluginprovider.DefaultProvider" />
            <action></action>
        </receiver -->
    </application>

</manifest>